<!-- Will be included in base.html -->

<!-- Message handling (django message framework) -->
{% if messages %}
    <div class='col-sm-8 mx-auto'>
        {% comment %} <div class='messages alert alert-success' role="alert"> {% endcomment %}
            <ul class='messages'>
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class='alert alert-success' role="alert">
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        </div>
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class='alert alert-danger' role="alert">
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        </div>
                    {% endif %}

                {% endfor %}
            </ul>
        {% comment %} </div> {% endcomment %}
    </div>
{% endif %}

