{% extends "base.html" %}

{% block content %}
    <div class='col-sm-6 mx-auto'>
        <h1>My posts</h1>
        <div class='row'>
            <div class="pagination">
                <span class="step-links">
                    {% if posts.has_previous %}
                        <a href="?page={{ posts.previous_page_number }}">previous</a>
                    {% endif %}
    
                    <span class="current">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                    </span>
    
                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>

            {% for post in posts %}
                <div class="card col-sm-12 mt-1" style="width: 18rem;">
                    <div class="card-body">
                        <!-- Title -->
                        <h5 class="card-title mb-0"><a href='{{ post.get_absolute_url }}' >{{ post.title }}</a> <small class='text-muted'><small>{{post.publish|timesince}} ago</small></small></h5>
                        
                            {% if post.user.get_full_name %}
                            <small class='text-muted'>
                                Published by {{ post.user.get_full_name }}, {{ post.publish }}
                            </small>
                            {% elif post.user %}
                            <small class='text-muted'>
                                Published by {{ post.user }}, {{ post.timestamp }}
                            </small>
                            {% endif %}
    
                        <!-- Image -->
                        {% if post.image %}
                            <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap">
                        {% endif %}
                        <p class="card-text">{{ post.content|linebreaks|truncatechars:120 }}</p>
                        <!-- Published by -->
                        <!-- Buttons -->
                        <a href="{{ post.get_absolute_url }}" class="btn btn-primary">View post</a>
                        <a href="{{ post.get_absolute_url }}edit/" class="btn btn-success">Edit post</a>
                    </div>
                </div>
            {% endfor %}

            <div class="pagination mb-3">
                    <span class="step-links">
                        {% if posts.has_previous %}
                            <a href="?page={{ posts.previous_page_number }}">previous</a>
                        {% endif %}
        
                        <span class="current">
                            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                        </span>
        
                        {% if posts.has_next %}
                            <a href="?page={{ posts.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
    

    </div>

{% endblock content %}
