{% extends "base.html" %}
{% load urlify %}


{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}

    <div class='col-sm-6 mx-auto border mt-3 pb-3'>
            <h1>{{ title }} <small class='text-muted'><small>{{ instance.timestamp }}</small></small></h1>
            {{ instance.content|linebreaks }}<br/>
            {% if instance.image %}
                <img src="{{ instance.image.url }}" class="img-responsive"><br/>
            {% endif %}

            <div class="mb-2">
                
                <small>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
                    Facebook |
                    </a>
                    <a href="https://twitter.com/home?status={{ instance.content|urlify }}%20{{ request.build_absolute_uri }}">
                    Twitter |
                    </a>
                    <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>
                    Google+ |
                    </a>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url{{ request.build_absolute_uri }}&title={{ instance.title|urlify }}&summary={{ instance.content|urlify }}&source={{ request.build_absolute_uri }}">
                    Linkedin |
                    </a>
                    <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&{{ instance.content|urlify }}">
                    Reddit
                    </a>
                </small>
            </div>
            <a href="/posts" class="btn btn-primary">Back</a>
    </div>

{% endblock content %}
